<!-- <div>
  <h1>Basic App for testing and debugging in Chrome</h1>
  <p>value 1
    <input type="number" placeholder="Enter value1" [(ngModel)]="var1">
  </p>
  <p>Value 2
    <input type="number" placeholder="Enter value2"  [(ngModel)]="var2">
  </p>
  <p><input type="button" value="Sum" (click)="doSum()"></p>
  <p>Total:{{total}}</p>
</div> -->

<!-- <button (click)="toggleState()">button</button>
<p>obtaining the css classes from the component method:</p>
<button [ngClass]="calculateClasses()" (click)="submit()">Button</button> -->

<!-- ngClass -->
<h1 [ngClass]="{available:isAvailable,unavailable:!isAvailable}">My Product</h1>

<!-- ngStyle -->
<div [ngStyle]="{'color':color,'font-size':size+'px' ,'font-weight':'bold'}">
  Style using Style
</div>
<input placeholder="enter the color" [(ngModel)]="color"/>
<button (click)="size=size+1" >+</button>
<button (click)="size=size-1">-</button>